/*------------------------------------------------------------------------------TAGS ONLY--------------------------------------------------------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

h1, h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
/*------------------------------------------------------------------------------COLORED BACKGROUND-----------------------------------------------------------------------------------*/

.white-section {
    background-color: #fff;
}

.colored-section {
    background-color: #ff4c68;
}

/*------------------------------------------------------------------------------HEADINGS---------------------------------------------------------------------------------------------*/

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*------------------------------------------------------------------------------NAVBAR-----------------------------------------------------------------------------------------------*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'gotham_roundedmedium', 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

/*------------------------------------------------------------------------------TITLE SECTION----------------------------------------------------------------------------------------*/

#title {
    color: white;
    text-align: left;
}

.container-fluid {
    padding: 3% 5%;
}

/*------------------------------------------------------------------------------TITLE IMAGE------------------------------------------------------------------------------------------*/

.title-image {
    width: 45%;
    transform: rotate(25deg);
    position: absolute;
    right: 17%;
    z-index: 0;
}

.relative {
    position: relative;
}

/*------------------------------------------------------------------------------DOWNLOAD BUTTONS-------------------------------------------------------------------------------------*/

.btn-download {
    margin: 0 3% 5% 0;
}

/*------------------------------------------------------------------------------FEATURE SECTION--------------------------------------------------------------------------------------*/

#features {
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 4.5%;
}

.feature-titles {
    font-size: 1.5rem;
}

.feature-desc {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 3%;
    font-size: 5em;
}

.icon:hover {
    color: #ff4c68;
}

/*------------------------------------------------------------------------------TESTIMONIALS SECTION---------------------------------------------------------------------------------*/

#testimonials {
    background-color: #ef8172;
}

.testimonial-img {
    width: 15%;
    border-radius: 50%;
    margin: 20px 20px 10px 10px;
}

.testimonial-txt {
    font-size: 3rem;
    line-height: 1.5;
}

/*------------------------------------------------------------------------------PRESS SECTION----------------------------------------------------------------------------------------*/

#press {
    background-color: #ef8172;
    
    padding-bottom: 3%;
}

.press {
    width: 15%;
    margin: 20px 20px 50px;
}

/*------------------------------------------------------------------------------PRICING SECTION--------------------------------------------------------------------------------------*/

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.bronze {
    background-color: #CD7F32;
}

.silver {
    background-color: #C0C0C0;
}

.gold {
    background-color: #FFD700;
}

/*------------------------------------------------------------------------------CTA SECTION------------------------------------------------------------------------------------------*/

#cta {
    color: #fff;
}

/*------------------------------------------------------------------------------FOOTER SECTION---------------------------------------------------------------------------------------*/

#footer {
    background-color: #fff;
}

.copyright {
    color: rgb(143, 143, 143);
}

/*------------------------------------------------------------------------------SOCIAL MEDIA-----------------------------------------------------------------------------------------*/

.social {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 20px 10px;
}

.instagram:hover{
    background: #FEDA75;
    background: radial-gradient(circle farthest-corner at center center, #FEDA75 0%, #FA7E1E 25%, #D62976 50%, #962FBF 75%, #4F5BD5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.email:hover {
    color: #020403;
}

.linkedin:hover {
    color: #0e76a8;
}

/*------------------------------------------------------------------------------MEDIA QUERRY----------------------------------------------------------------------------------------*/

@media (max-width: 1028px) {
    .title-image {
        position: static;
        width: 50%;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }

    .btn-download {
        height: 5rem;
        font-size: 2.5rem;
    }
    
    .icon {
        font-size: 9em;
    }
    
    .feature-titles {
        font-size: 3.06rem;
    }

    .feature-desc {
        font-size: 2rem;
    }

    .social {
        font-size: 3rem;
    }

    .copyright {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 2rem;
    }
}

/*------------------------------------------------------------------------------CUSTOM-----------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'gotham_roundedmedium';
    src: "fonts/gothamrounded-medium-webfont.woff2" format('woff2'),
         'fonts/gothamrounded-medium-webfont.woff' format('woff');
    font-weight: normal;
    font-style: normal;
}